.git
.github
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.venv
**/venv
**/node_modules
**/dist
**/.env
**/.env.*
!.env.example
**/*.md
.vscode
.cursor
**/terminals
bots/**/.pio
bots/**/venv
**/.DS_Store
Thumbs.db
app/backend/models/
